/* Default Style */
input[type=radio] {
  display: none;
}

// 라디오 버튼 스타일링
.radio {
  text-indent: 29px;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #999;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

// 체크된 상태에서 가운데 작은 원 추가
.radio::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // 가운데 정렬
  display: none;
}

// 체크된 상태에만 작은 원 표시
input[type=radio]:checked + .radio::before {
  display: block;
}

input[type=checkbox]{
  display: none;
}
.checkbox {
  display: inline-flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  text-indent: 28px;
  text-align: center;
  position: relative;
  align-items: center;
  cursor: pointer;
}
input[type=checkbox]:checked + .checkbox::before{
  content: url("../img/button/check.svg");
  position: absolute;
  left: -24px;
  top: -4px;
}

textarea {
  width: 1153px;
  height: 265px;
  border-radius: 6px;
  border-color: #999999;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #999999;
  font-size: 19.5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0 0 10px;
}

/* Web Style */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;  
  z-index: 1;
}

.header {
  display: inline-flex;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
  &.hovered {
    height: 152px;
  }
  .menu {
    height: 90px;
    display: inline-flex;
    width: 75%;
    padding: 12px 0;
    justify-content: center;
    .name {
      color: #FFF;
      text-align: center;
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 15px 5% 0 5%;
      cursor: pointer;
      &.submenu {
        padding: 13px 7% 0 7%;
      }
      span {
        display: block;
        height: 62px;
      }
      .selected::after {
        content: "";
        display: block;
        position: absolute;
        top: 85px;
        width: 144px;
        margin: 0 -30px;
        border-bottom: 5px solid white;
      }
    }
    .name:first-child .selected::after {
      margin: 0 -12px;
    }
    .dropdown {
      display: none;
      position: absolute;
      top: 88px;
      left: 40.5%;
      .name {
        font-size: 18px;
        padding: 27px 36px 0 36px;
        border-bottom: none;
        width: auto;
        height: auto; 
      }
      &.hovered {
        display: inline-flex;
      }
    }    
  }
}

.header:hover {
  background: black;
}

.header .name:hover {
  height: 100px;
}

.header .earth-globe {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 1826px;
  object-fit: cover;
}

.header .logo {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
  letter-spacing: -1px;
  width: 218px;
  padding: 12px 0 10px 10px;
  cursor: pointer;
}

.header .union {
  position: absolute;
  width: 389px;
  height: 138px;
  top: 1596px;
  left: 8615px;
}

.footer {
  width: 100%;
  height: 230px;
}

.footer .group {
  width: 100%;
  height: 230px;
  background-color: #262626;
  display: flex;
}

.footer .overlap {
  width: 100%;
  height: 230px;
  display: inline-flex;
  justify-content: center;
}

.footer .left {
  width: 55%;
  display: inline-flex;
  text-align: left;
  flex-direction: column;
  gap: 14px;
  padding: 20px 0;  
}

.footer .text-wrapper {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.72px;
  line-height: normal;
  white-space: nowrap;
  text-align: right;
}

.footer .div {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 419px;
  height: 88px;
}

.footer .text {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.72px;
  line-height: 12px;
}

.footer .span {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.72px;
}

.footer .right {
  width: 15%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.footer .box {
  display: inline-flex;
  justify-content: end;
  gap: 10px;
  padding: 0 0 20px;    
}

.footer .text-wrapper-2 {
  line-height: 18px;
}

.footer .p {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 12px;
  text-align: right;
  letter-spacing: -0.72px;
  white-space: nowrap;
  line-height: normal;
}

.footer .text-wrapper-3 {
  color: #ffffff;
}

.footer .text-wrapper-4 {
  color: #acacac;
}

.footer .vector-wrapper {
  width: 22px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 4px;
}

.footer .vector {
  width: 5px;
  height: 7px;
  position: relative;
  right: 7px;
  top: -2px;
}

.footer .rectangle {
  width: 130px;
  height: 34px;
}

.footer .overlap-group-wrapper {
  width: 22px;
  height: 22px;
  border-radius: 5.32px;
  border: 1.8px solid;
  border-color: #ffffff;
  display: inline-flex;
}

.footer .overlap-group {
  position: relative;
  width: 12px;
  height: 13px;
  top: 3px;
  left: 4px;
}

.footer .ellipse {
  width: 11px;
  height: 11px;
  border-radius: 5.72px;
  border: 1.8px solid;
  border-color: #ffffff;
}

.footer .ellipse-2 {
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1.15px;
  margin: 0 0 0 9px;
}

.footer .img {
  width: 21px;
  height: 22px;
}

/* Mobile Style */
.mobile-header .menu {
  width: 100%;
  height: 48px;
  background-color: #282828;
}

.mobile-header .text-wrapper-3 {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22.4px;
  letter-spacing: 0;
  line-height: normal;
  width: 90%;
  display: inline-block;
  padding: 9px 0 0 20px;
}

.mobile-header .menu-wrapper {
  top: 134px;
  left: 41px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  font-size: 22.1px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile-header .group-wrapper {
  width: 10%;
  height: 17px;
  display: inline-block;
}

.mobile-header .group-2 {
  position: relative;
  height: 17px;
}

.mobile-header .rectangle {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.mobile-header .rectangle-2 {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 7px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.mobile-header .rectangle-3 {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 14px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.mobile-footer .overlap-wrapper {
  width: 100%;
  height: 153px;
}

.mobile-footer .overlap-5 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #262626;
  display: flex;
  justify-content: center;
}

.mobile-footer .left {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: 52%;
  margin: 17px 0 5px 15px;
}

.mobile-footer .text-wrapper-10 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 9.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile-footer .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.99px;
  height: 31px;
  padding: 10px 0;
}

.mobile-footer .text {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 6px;
  letter-spacing: -0.36px;
  line-height: normal;
}

.mobile-footer .span {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 6px;
  letter-spacing: -0.36px;
}

.mobile-footer .right {
  display: inline-flex;
  flex-direction: column;
  text-align: right;
  padding: 26px 10px 0 0;
  width: 48%;
}

.mobile-footer .box {
  display: inline-flex;
  justify-content: right;
  gap: 10px;
  padding: 0 0 20px;    
}

.mobile-footer .overlap-group-wrapper {
  width: 22px;
  height: 22px;
  border-radius: 5.32px;
  border: 1.8px solid;
  border-color: #ffffff;
  display: inline-flex;
}

.mobile-footer .overlap-group {
  position: relative;
  width: 12px;
  height: 13px;
  top: 3px;
  left: 4px;
}

.mobile-footer .ellipse {
  width: 11px;
  height: 11px;
  border-radius: 5.72px;
  border: 1.8px solid;
  border-color: #ffffff;
}

.mobile-footer .ellipse-2 {
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1.15px;
  margin: 0 0 0 9px;
}

.mobile-footer .vector-wrapper {
  width: 19px;
  height: 15px;
  background-color: #d9d9d9;
  border-radius: 2.57px;
}

.mobile-footer .vector {
  width: 5px;
  height: 7px;
  position: relative;
  top: -2px;
  left: -7px;
}

.mobile-footer .img {
  width: 26px;
  height: 26px;
}

.mobile-footer .rectangle {
  width: 104px;
  height: 26px;
  margin: 0 0 5px 0;
}

.mobile-footer .text-wrapper-3 {
  color: #ffffff;
}

.mobile-footer .text-wrapper-4 {
  color: #acacac;
}