/* Mobile CSS */
.android-large {
  background-color: #ffffff;
  display: flex;
  // flex-direction: row;
  // justify-content: center;
  width: 100%;
}

.android-large .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 1269px;
  position: relative;
}

.android-large .carousel {
  display: inline-block;
  width: 100%;
  padding: 15px 0 10px 0;
}

.android-large .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  position: relative;
  align-self: stretch;
  width: 100%;
  padding: 0 0 20px 0;
}

.android-large .div-2 {
  position: relative;
  width: 45.64px;
  height: 45.64px;
}

.android-large .element {
  position: absolute;
  width: 52px;
  height: 52px;
  top: -1px;
  left: -3px;
  object-fit: cover;
}

.android-large .overlap-group {
  position: relative;
  width: 52px;
  height: 52px;
  top: -1px;
  left: -3px;
  background-image: url(../img/1-2-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-large .element-2 {
  position: relative;
  width: 46px;
  height: 46px;
  top: 1px;
  left: 3px;
  background-color: #ffffff;
  border-radius: 491.39px;
  opacity: 0.45;
}

.android-large .overlap {
  position: relative;
  width: 52px;
  height: 52px;
  top: -1px;
  left: -3px;
  background-image: url(../img/1-2-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-large .element-wrapper {
  position: relative;
  width: 52px;
  height: 52px;
  top: -1px;
  left: -3px;
  background-image: url(../img/1-2-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-large .div-wrapper {
  position: relative;
  width: 52px;
  height: 52px;
  top: -1px;
  left: -3px;
  background-image: url(../img/1-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-large .frame {
  display: inline-flex;
  width: 100%;
}

.android-large .source {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &.best {
    width: 323px;
  }
}

.android-large .group {
  position: relative;
  width: 328px;
  height: 210px;
}

.android-large .overlap-group-2 {
  width: 320px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 9.97px;
  box-shadow: 0px 2px 9.97px #00000040;
}

.android-large .img {
  width: 320px;
  height: 128px;
}

.android-large .text-wrapper {
  width: 134px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0 0 5px 10px;
}

.android-large .p {
  width: 231px;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  padding-left: 10px;
}

.android-large .element-m-floors {
  width: 310px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0 0 5px 10px;
}

.android-large .text-wrapper-2 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  padding-left: 10px;
}

.android-large .element-3 {
  width: 1px;
  top: 0;
  left: 0;
  position: absolute;
  height: 128px;
}

.android-large .overlap-group-3 {
  position: absolute;
  width: 320px;
  height: 210px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 9.97px;
  box-shadow: 0px 2px 9.97px #00000040;
}

.android-large .element-4 {
  width: 320px;
  top: 1298px;
  left: 8208px;
  position: absolute;
  height: 128px;
}

.android-large .element-5 {
  width: 320px;
  top: 1298px;
  left: 7868px;
  position: absolute;
  height: 128px;
}

.android-large .element-6 {
  width: 320px;
  top: 1298px;
  left: 7528px;
  position: absolute;
  height: 128px;
}

.android-large .overlap-2 {
  width: 100%;
  height: 48px;
  background-color: #282828;
}

.android-large .text-wrapper-3 {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22.4px;
  letter-spacing: 0;
  line-height: normal;
  width: 90%;
  display: inline-block;
  padding: 9px 0 0 20px;
}

.android-large .group-wrapper {
  width: 25px;
  height: 17px;
  display: inline-block;
}

.android-large .group-2 {
  position: relative;
  height: 17px;
}

.android-large .rectangle {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.android-large .rectangle-2 {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 7px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.android-large .rectangle-3 {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 14px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.android-large .group-3 {
  width: 100%;
  height: 41px;
  display: inline-block;
  padding: 35px 0 0 0;
}

.android-large .text-wrapper-4 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-large .text-wrapper-5 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-large .overlap-3 {
  width: 100%;
  height: 328px;
  display: inline-block;
  background: #F2F2F2;
  margin: 13px 0 0 0;
}

.android-large .group-4 {
  display: none;
  width: 900px;
  height: 283px;
}

.android-large .overlap-4 {
  width: 899px;
  height: 283px;
}

.android-large .rectangle-4 {
  width: 688px;
  height: 283px;
  background-color: #f2f2f2;
}

.android-large .rectangle-5 {
  width: 150px;
  height: 97px;
  background-color: #acacac;
  border-radius: 6.81px;
}

.android-large .rectangle-6 {
  width: 150px;
  height: 97px;
  background-color: #acacac;
  border-radius: 6.81px;
}

.android-large .element-7 {
  width: 151px;
  height: 98px;
  object-fit: cover;
}

.android-large .element-8 {
  width: 151px;
  height: 98px;
  object-fit: cover;
}

.android-large .group-5 {
  padding: 10px 0 10px 0px;
  display: inline;
}

.android-large .text-wrapper-6 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 20px 0 0 0;
}

.android-large .carousel-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 0 0;
}

.android-large .frame-2 {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex: 0 0 auto;
}

.android-large .img-wrapper {
  display: none;
  position: relative;
  flex: 0 0 auto;
}

.android-large .element-9 {
  position: relative;
  width: 57.73px;
  height: 101.22px;
  margin-top: -4.92px;
  margin-bottom: -4.92px;
  margin-left: -4.92px;
  object-fit: cover;
}

.android-large .element-10 {
  position: relative;
  width: 146.91px;
  height: 91.38px;
  margin-bottom: -908.68px;
  margin-right: -8438.89px;
  object-fit: cover;
}

.android-large .group-6 {
  display: inline;
  width: 100%;
  height: 32px;
  margin: 10px;
}

.android-large .text-wrapper-7 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #6a6a6a;
  font-size: 10.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-large .text-wrapper-8 {
  width: 100%;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-large .overlap-wrapper {
  position: absolute;
  width: 100%;
  height: 99px;
  top: 1170px;
  left: 0;
}

.android-large .overlap-5 {
  position: relative;
  width: 100%;
  height: 99px;
  background-color: #262626;
}

.android-large .text-wrapper-9 {
  position: absolute;
  top: 72px;
  left: 207px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 7.7px;
  letter-spacing: -0.46px;
  line-height: normal;
  white-space: nowrap;
}

.android-large .text-wrapper-10 {
  position: absolute;
  top: 37px;
  left: 20px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 9.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-large .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.99px;
  position: absolute;
  width: 160px;
  height: 31px;
  top: 51px;
  left: 20px;
}

.android-large .text {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 6px;
  letter-spacing: -0.36px;
  line-height: normal;
}

.android-large .span {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 6px;
  letter-spacing: -0.36px;
}

.android-large .vector-wrapper {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 40px;
  left: 326px;
  background-color: #d9d9d9;
  border-radius: 2.57px;
}

.android-large .vector {
  position: absolute;
  width: 3px;
  height: 5px;
  top: 3px;
  left: 6px;
}

.android-large .text-wrapper-11 {
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17.4px;
  letter-spacing: 0;
  line-height: normal;
}

.android-large .overlap-group-wrapper {
  width: 100%;
  height: 174px;
  display: inline-flex;
}

.overlap-group-wrapper .help {
  display: flex;
  width: 100%;
  justify-content: center;
}

.android-large .overlap-6 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.android-large .image {
  width: 451px;
  background: linear-gradient(270deg, white 6%, rgba(255, 255, 255, 0) 40%), url(../img/image-6.png);
  background-size: 313px 121px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.android-large .group-7 {
  position: relative;
  top: 72px;
  left: 235px;
}

.android-large .overlap-group-4 {
  width: 80px;
  height: 13px;
  background-color: #000000;
  border-radius: 9.49px;
}

.android-large .text-wrapper-12 {
  position: relative;
  top: 2px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 6.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-large .group-8 {
  position: relative;
  height: 33px;
  top: 66px;
  left: 230px;
}

.android-large .text-wrapper-14 {
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #262626;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
}

.android-large .text-wrapper-13 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #262626;
  font-size: 15.8px;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
}

.android-large .group-9 {
  position: absolute;
  width: 190px;
  height: 102px;
  top: 145px;
  left: 384px;
}

.android-large .element-11 {
  position: absolute;
  width: 186px;
  height: 102px;
  top: 1731px;
  left: 8908px;
}

.android-large .text-wrapper-15 {
  position: absolute;
  width: 90px;
  top: 33px;
  left: 48px;
  text-shadow: 0px 0px 2.07px #00000080;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.android-large .text-wrapper-16 {
  position: absolute;
  width: 65px;
  top: 50px;
  left: 61px;
  text-shadow: 0px 0px 1.04px #00000080;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 6.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-large .group-10 {
  position: absolute;
  width: 28px;
  height: 3px;
  top: 92px;
  left: 79px;
  box-shadow: 0px 0px 1.04px #00000087;
}

.android-large .ellipse {
  left: 19px;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.android-large .ellipse-2 {
  left: 6px;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.android-large .ellipse-3 {
  left: 0;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.android-large .ellipse-4 {
  left: 12px;
  background-color: #000000;
  border: 0.52px solid;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.android-large .ellipse-5 {
  left: 25px;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.android-large .carousel-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 8.89px;
}

.android-large .frame-3 {
  display: inline-flex;
  width: 100%;
}

.android-large .div-wrapper-2 {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

.android-large .overlap-group-5 {
  width: 451px;
  height: 208px;
  background-image: url(../img/1-1-11.png);
  background-size: 100% 100%;
}

.android-large .group-12 {
  position: relative;
  width: 207px;
  height: 51px;
  top: 70px;
  left: 84px;
}

.android-large .overlap-7 {
  position: relative;
  width: 392px;
  height: 208px;
}

.android-large .group-13 {
  position: absolute;
  width: 392px;
  height: 208px;
  top: 0;
  left: 0;
}

.android-large .overlap-group-6 {
  position: relative;
  height: 208px;
  top: 1683px;
  left: 8509px;
  background-image: url(../img/buy-our-houses-now-8.png);
  background-size: 100% 100%;
}

.android-large .CWK-XX-XX {
  position: absolute;
  width: 198px;
  height: 20px;
  top: 74px;
  left: 96px;
}

.android-large .buy-our-houses-now {
  position: absolute;
  width: 134px;
  height: 13px;
  top: 105px;
  left: 129px;
}

.android-large .rectangle-8 {
  position: absolute;
  width: 391px;
  height: 207px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.2;
}

.android-large .overlap-group-7 {
  position: relative;
  height: 208px;
  top: 1683px;
  left: 8101px;
  background-image: url(../img/buy-our-houses-now-8.png);
  background-size: 100% 100%;
}

.android-large .indicator-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.19px;
  padding: 4.04px 5.19px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.android-large .dot {
  position: relative;
  width: 16.07px;
  height: 7.78px;
  background-color: #5e5e5e;
  border-radius: 7.26px;
}

.android-large .dot-2 {
  position: relative;
  width: 7.78px;
  height: 7.78px;
  background-color: #cecece;
  border-radius: 7.26px;
}

.android-large .group-14 {
  position: fixed;
  width: 47px;
  height: 47px;
  top: 82%;
  left: 81%;
  background-color: #000000;
  border-radius: 23.5px;
}

.android-large .vector-2 {
  position: absolute;
  width: 12px;
  height: 9px;
  top: 22px;
  left: 18px;
}

.android-large .vector-3 {
  position: absolute;
  width: 12px;
  height: 1px;
  top: 20px;
  left: 18px;
}

// Menu List
.menu-kor {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.menu-kor .overlap-group-wrapper {
  background-color: #ffffff;
  width: 100%;
  height: 800px;
}

.menu-kor .overlap-group {
  position: relative;
  height: 800px;
  background-color: #282828;
}

.menu-kor .group {
  position: absolute;
  width: 70px;
  height: 26px;
  top: 327px;
  left: 41px;
}

.menu-kor .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .div {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22.4px;
  letter-spacing: 0;
  line-height: normal;
  padding: 9px 0 0 20px;
}

.menu-kor .group-wrapper {
  width: 25px;
  height: 17px;
  display: inline-flex;
}

.menu-kor .title {
  display: inline-flex;
  width: 90%;
}

.menu-kor .group-2 {
  position: relative;
  height: 17px;
}

.menu-kor .rectangle {
  top: 0;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.menu-kor .rectangle-2 {
  top: 7px;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.menu-kor .rectangle-3 {
  top: 14px;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.menu-kor .text-wrapper-2 {
  top: 82px;
  left: 41px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  font-size: 22.1px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .text-wrapper-3 {
  top: 142px;
  left: 41px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  font-size: 22px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .div-wrapper {
  position: absolute;
  width: 79px;
  height: 26px;
  top: 263px;
  left: 41px;
}

.menu-kor .text-wrapper-4 {
  top: 182px;
  left: 58px;
  font-family: "Pretendard-Thin", Helvetica;
  font-weight: 100;
  font-size: 15px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .text-wrapper-5 {
  top: 211px;
  left: 58px;
  font-family: "Pretendard-Thin", Helvetica;
  font-weight: 100;
  font-size: 15px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* PC CSS */
.mainpage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainpage .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 3602px;
  position: relative;
}

.mainpage .new-carousel-PC {
  position: absolute;
  width: 1200px;
  height: 594px;
  top: 1080px;
  left: 360px;
}

.mainpage .group {
  position: absolute;
  width: 696px;
  height: 111px;
  top: 0;
  left: 252px;
}

.mainpage .element {
  width: 120px;
  height: 120px;
  top: 0;
  left: -4px;
  position: absolute;
  object-fit: cover;
}

.mainpage .ellipse-wrapper {
  position: absolute;
  width: 111px;
  height: 111px;
  top: 0;
  left: 147px;
  background-image: url(../img/1-3-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mainpage .ellipse {
  height: 111px;
  background-color: #ffffff80;
  border-radius: 55.62px;
}

.mainpage .div-wrapper {
  position: absolute;
  width: 111px;
  height: 111px;
  top: 0;
  left: 295px;
  background-image: url(../img/1-3-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mainpage .group-2 {
  position: absolute;
  width: 111px;
  height: 111px;
  top: 0;
  left: 438px;
  background-image: url(../img/1-3-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mainpage .group-3 {
  position: absolute;
  width: 111px;
  height: 111px;
  top: 0;
  left: 585px;
  background-image: url(../img/1-3.png);
  background-size: 100% 100%;
}

.mainpage .overlap-group-wrapper {
  position: absolute;
  width: 1071px;
  height: 434px;
  top: 160px;
  left: 66px;
}

.mainpage .overlap-group {
  position: relative;
  width: 1067px;
  height: 434px;
}

.mainpage .element-wrapper {
  position: absolute;
  width: 1067px;
  height: 434px;
  top: 0;
  left: 0;
  border-radius: 0px 81.859px 0px 73.463px;
  background: #FFF;
  box-shadow: 0px 0px 15.74205px 3.14841px rgba(0, 0, 0, 0.25);
}

.mainpage .img {
  width: 750px;
  height: 434px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.mainpage .group-4 {
  position: absolute;
  width: 273px;
  height: 276px;
  top: 39px;
  left: 777px;
}

.mainpage .text-wrapper {
  position: absolute;
  top: 0;
  left: 11px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 34.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .p {
  position: absolute;
  width: 174px;
  top: 44px;
  left: 43px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 14.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-2 {
  position: absolute;
  width: 261px;
  top: 112px;
  left: 0;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-3 {
  top: 160px;
  position: absolute;
  width: 261px;
  left: 0;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-4 {
  top: 208px;
  position: absolute;
  width: 261px;
  left: 0;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-5 {
  top: 257px;
  position: absolute;
  width: 261px;
  left: 0;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .line {
  width: 102px;
  top: 141px;
  left: 79px;
  position: absolute;
  height: 1px;
}

.mainpage .line-2 {
  width: 102px;
  top: 189px;
  left: 79px;
  position: absolute;
  height: 1px;
}

.mainpage .line-3 {
  width: 102px;
  top: 239px;
  left: 79px;
  position: absolute;
  height: 1px;
}

.mainpage .text-wrapper-6 {
  position: absolute;
  top: 361px;
  left: 820px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-7 {
  position: absolute;
  top: 391px;
  left: 878px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 10.5px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .overlap {
  position: absolute;
  width: 1938px;
  height: 915px;
  top: 0;
  left: -18px;
}

.mainpage .component {
  position: absolute;
  width: 1920px;
  height: 915px;
  top: 0;
  left: 18px;
  background-image: url(../img/1-12-5.png);
  background-size: 100% 100%;
}

.mainpage .group-5 {
  position: absolute;
  width: 523px;
  height: 128px;
  top: 358px;
  left: 700px;
}

.mainpage .text-wrapper-8 {
  top: 0;
  left: 0;
  text-shadow: 0px 0px 8px #00000080;
  color: #ffffff;
  font-size: 75px;
  position: absolute;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-9 {
  position: absolute;
  top: 90px;
  left: 127px;
  text-shadow: 0px 0px 8px #00000080;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-6 {
  position: absolute;
  width: 339px;
  height: 73px;
  top: 509px;
  left: 791px;
}

.mainpage .overlap-group-2 {
  position: relative;
  width: 337px;
  height: 73px;
  border-radius: 11px;
}

.mainpage .rectangle {
  width: 337px;
  height: 73px;
  left: 0;
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: inset 0px 0px 15px 3px #00000080;
  position: absolute;
  top: 0;
}

.mainpage .text-wrapper-10 {
  position: absolute;
  top: 17px;
  left: 113px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #686868;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-7 {
  position: absolute;
  width: 144px;
  height: 16px;
  top: 846px;
  left: 888px;
  // box-shadow: 0px 0px 6px #00000087;
}

.mainpage .ellipse-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 32px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .ellipse-3 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 64px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .ellipse-4 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 96px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .ellipse-5 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 8px;
  border: 1px solid;
}

.mainpage .ellipse-6 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 128px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .vector-wrapper {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 418px;
  left: 1785px;
  background-color: #000000;
  border-radius: 39px;
  opacity: 0.6;
}

.mainpage .vector {
  position: absolute;
  width: 14px;
  height: 26px;
  top: 26px;
  left: 34px;
}

.mainpage .img-wrapper {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 418px;
  left: 56px;
  background-color: #000000;
  border-radius: 39px;
  transform: rotate(180deg);
  opacity: 0.6;
}

.mainpage .vector-2 {
  position: absolute;
  width: 14px;
  height: 26px;
  top: 26px;
  left: 34px;
  transform: rotate(-180deg);
}

.mainpage .property {
  position: absolute;
  width: 1920px;
  height: 167px;
  top: 0;
  left: 0;
}

.mainpage .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 90px;
  top: 0;
  left: 18px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.mainpage .earth-globe {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 1826px;
  object-fit: cover;
}

.mainpage .text-wrapper-11 {
  position: absolute;
  top: 19px;
  left: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-12 {
  position: absolute;
  top: 34px;
  left: 1242px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-13 {
  position: absolute;
  top: 34px;
  left: 593px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-14 {
  position: absolute;
  top: 34px;
  left: 941px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .union {
  position: absolute;
  width: 389px;
  height: 138px;
  top: 1596px;
  left: 8615px;
}

.mainpage .line-4 {
  width: 1920px;
  top: 2872px;
  left: 5747px;
  object-fit: cover;
  position: absolute;
  height: 1px;
}

.mainpage .group-8 {
  position: absolute;
  width: 214px;
  height: 79px;
  top: 974px;
  left: 851px;
}

.mainpage .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-16 {
  position: absolute;
  top: 58px;
  left: 15px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .overlap-3 {
  position: absolute;
  width: 2510px;
  height: 759px;
  top: 1824px;
  left: -295px;
}

.mainpage .rectangle-2 {
  width: 1920px;
  height: 759px;
  left: 297px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
}

.mainpage .best-slider-PC {
  position: absolute;
  width: 2510px;
  height: 497px;
  top: 191px;
  left: 0;
}

.mainpage .overlap-4 {
  position: absolute;
  width: 594px;
  height: 307px;
  top: 34px;
  left: 295px;
}

.mainpage .element-2 {
  width: 148px;
  height: 304px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.mainpage .element-3 {
  width: 464px;
  height: 304px;
  top: 3px;
  left: 130px;
  position: absolute;
  object-fit: cover;
}

.mainpage .overlap-5 {
  position: absolute;
  width: 593px;
  height: 306px;
  top: 34px;
  left: 1622px;
}

.mainpage .element-4 {
  width: 464px;
  height: 304px;
  top: 2px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.mainpage .element-5 {
  width: 148px;
  height: 304px;
  top: 0;
  left: 445px;
  position: absolute;
  object-fit: cover;
}

.mainpage .overlap-6 {
  position: absolute;
  width: 689px;
  height: 497px;
  top: 0;
  left: 911px;
}

.mainpage .group-9 {
  position: absolute;
  width: 633px;
  height: 497px;
  top: 0;
  left: 30px;
}

.mainpage .overlap-group-3 {
  position: absolute;
  width: 669px;
  height: 487px;
  top: -21px;
  left: -21px;
}

.mainpage .text-wrapper-17 {
  position: absolute;
  top: 468px;
  left: 244px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-18 {
  top: 424px;
  left: 203px;
  color: #000000;
  font-size: 38px;
  position: absolute;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .element-6 {
  width: 669px;
  height: 432px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.mainpage .text-wrapper-19 {
  position: absolute;
  top: 473px;
  left: 229px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #6a6a6a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-10 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 159px;
  left: 630px;
  background-color: #ffffffb0;
  border-radius: 29.5px;
  border: 1px solid;
  border-color: #959595b0;
}

.mainpage .vector-3 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 16px;
  left: 24px;
}

.mainpage .group-11 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 159px;
  left: 0;
  background-color: #ffffffb0;
  border-radius: 29.5px;
  border: 1px solid;
  border-color: #959595b0;
  transform: rotate(180deg);
}

.mainpage .vector-4 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 17px;
  left: 24px;
  transform: rotate(-180deg);
}

.mainpage .text-wrapper-20 {
  position: absolute;
  top: 70px;
  left: 1149px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-21 {
  position: absolute;
  top: 130px;
  left: 1123px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .overlap-wrapper {
  position: absolute;
  width: 1928px;
  height: 230px;
  top: 3372px;
  left: 0;
}

.mainpage .overlap-7 {
  position: relative;
  width: 1920px;
  height: 230px;
  background-color: #262626;
}

.mainpage .text-wrapper-22 {
  position: absolute;
  top: 158px;
  left: 1332px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.72px;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-23 {
  position: absolute;
  top: 85px;
  left: 382px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  width: 321px;
  height: 62px;
  top: 113px;
  left: 382px;
}

.mainpage .text {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.72px;
  line-height: normal;
}

.mainpage .span {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.72px;
}

.mainpage .group-12 {
  position: absolute;
  width: 22px;
  height: 15px;
  top: 108px;
  left: 1517px;
  background-color: #d9d9d9;
  border-radius: 4px;
}

.mainpage .vector-5 {
  position: absolute;
  width: 5px;
  height: 7px;
  top: 4px;
  left: 9px;
}

.mainpage .text-wrapper-24 {
  position: absolute;
  top: 34px;
  left: 382px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-13 {
  position: absolute;
  width: 2120px;
  height: 394px;
  top: 2817px;
  left: -198px;
}

.mainpage .overlap-8 {
  position: relative;
  width: 1920px;
  height: 394px;
  left: 198px;
}

.mainpage .image {
  position: absolute;
  width: 1215px;
  height: 394px;
  top: 0;
  left: 0;
}

.mainpage .rectangle-3 {
  width: 1920px;
  height: 394px;
  left: 0;
  background: linear-gradient(270deg, rgb(255, 255, 255) 37.54%, rgba(255, 255, 255, 0) 62%);
  position: absolute;
  top: 0;
}

.mainpage .group-14 {
  position: absolute;
  width: 226px;
  height: 61px;
  top: 220px;
  left: 1111px;
  background-color: #000000;
  border-radius: 36px;
}

.mainpage .text-wrapper-25 {
  position: absolute;
  top: 233px;
  left: 1165px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-15 {
  position: absolute;
  width: 700px;
  height: 127px;
  top: 72px;
  left: 1111px;
}

.mainpage .text-wrapper-26 {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #262626;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #262626;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .group-16 {
  position: fixed;
  width: 64px;
  height: 64px;
  top: 1126px;
  left: 1783px;
  background-color: #000000;
  border-radius: 32px;
}

.mainpage .vector-6 {
  position: absolute;
  width: 17px;
  height: 10px;
  top: 29px;
  left: 24px;
}

.mainpage .vector-7 {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 26px;
  left: 22px;
}

