// 페이드 효과를 위한 CSS 클래스
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Mobile CSS */
.mobile {
  background-color: #ffffff;
  display: flex;
  // flex-direction: row;
  // justify-content: center;
  width: 100%;
  &.overlap{
    position: absolute;
    z-index: 1;
  }
}

.mobile .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.mobile .carousel {
  display: inline-block;
  width: 100%;
  padding: 15px 0 10px 0;
}

.mobile .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  position: relative;
  align-self: stretch;
  width: 100%;
  padding: 0 0 20px 0;
}

.mobile .div-2 {
  position: relative;
  width: 45.64px;
  height: 45.64px;
  opacity: 0.5;
  &.active{
    opacity: 1;
  }
}

.mobile .element {
  position: absolute;
  width: 52px;
  height: 52px;
  top: -1px;
  left: -3px;
  object-fit: cover;
}

.mobile .element-2 {
  position: relative;
  width: 46px;
  height: 46px;
  top: 1px;
  left: 3px;
  background-color: #ffffff;
  border-radius: 491.39px;
  opacity: 0.45;
}

.mobile .frame {
  display: inline-flex;
  width: 100%;
}

.mobile .source {
  display: none;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  &.best {
    display: flex;
    opacity: 1;
    width: 323px;
  }
  &.active {
    display: flex;
  }
}

.mobile .group {
  position: relative;
  width: 328px;
  height: 210px;
}

.mobile .overlap-group-2 {
  width: 320px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 9.97px;
  box-shadow: 0px 2px 9.97px #00000040;
}

.mobile .img {
  width: 320px;
  height: 128px;
}

.mobile .text-wrapper {
  width: 134px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0 0 5px 10px;
}

.mobile .p {
  width: 231px;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  padding-left: 10px;
}

.mobile .element-m-floors {
  width: 310px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0 0 5px 10px;
}

.mobile .text-wrapper-2 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  padding-left: 10px;
}

.mobile .overlap-group-3 {
  position: absolute;
  width: 320px;
  height: 210px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 9.97px;
  box-shadow: 0px 2px 9.97px #00000040;
}

.mobile .group-3 {
  width: 100%;
  height: 41px;
  display: inline-block;
  padding: 35px 0 0 0;
}

.mobile .text-wrapper-4 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .text-wrapper-5 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mobile .overlap-3 {
  width: 100%;
  display: inline-block;
  background: #F2F2F2;
  margin: 13px 0 19px 0;
  text-align: center;
}

.mobile .best-slider {
  display: inline-block;
  background-color: #f0f0f0;
  width: 100%;
  margin: 50px 0;
}

.mobile .prev {
  display: inline-flex;
  min-width: 47px;
  width: 47px;
  height: 47px;
  background-color: #ffffffb0;
  border-radius: 29.5px;
  border: 1px solid;
  border-color: #959595b0;
  transform: rotate(180deg);
  cursor: pointer;
}

.mobile .next {
  display: inline-flex;  
  min-width: 47px;
  width: 47px;
  height: 47px;
  background-color: #ffffffb0;
  border-radius: 29.5px;
  border: 1px solid;
  border-color: #959595b0;
  transform: rotate(360deg);
  cursor: pointer;
}

.mobile .vector-4 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 12px;
  left: 21px;
  transform: rotate(-180deg);
}

.mobile .vector-3 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 12px;
  left: 18px;
}

.mobile .group-11 {
  width: 100%;
  height: 100%;
}

.mobile .group-5 {
  display: block;
}

.mobile .text-wrapper-6 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 20px 0 0 0;
}

.mobile .carousel-2 {
  display: block;
  position: relative;
}

.mobile .layer {
  width: 257px;
  height: 210px;
  display: flex;
  justify-content: center;
}

.mobile .frame-2 {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.mobile .img-wrapper {
  display: none;
  position: relative;
  flex: 0 0 auto;
}

.mobile .group-6 {
  display: inline-block;
  width: 100%;
  height: 32px;
  margin: 10px;
}

.mobile .text-wrapper-7 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #6a6a6a;
  font-size: 10.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mobile .text-wrapper-8 {
  width: 100%;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mobile .overlap-group-wrapper {
  width: 100%;
  height: 174px;
  display: inline-flex;
}

.overlap-group-wrapper .help {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mobile .overlap-6 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mobile .image {
  width: 451px;
  background: linear-gradient(270deg, white 6%, rgba(255, 255, 255, 0) 40%), url(../img/image-6.png);
  background-size: 313px 121px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.mobile .group-7 {
  position: relative;
  top: 72px;
  left: 235px;
}

.mobile .overlap-group-4 {
  width: 80px;
  height: 13px;
  background-color: #000000;
  border-radius: 9.49px;
}

.mobile .text-wrapper-12 {
  position: relative;
  top: 2px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 6.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .group-8 {
  position: relative;
  height: 33px;
  top: 66px;
  left: 230px;
}

.mobile .text-wrapper-14 {
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #262626;
  font-size: 11.6px;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
}

.mobile .text-wrapper-13 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #262626;
  font-size: 15.8px;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
}

.mobile .group-9 {
  position: absolute;
  width: 190px;
  height: 102px;
  top: 145px;
  left: 384px;
}

.mobile .element-11 {
  position: absolute;
  width: 186px;
  height: 102px;
  top: 1731px;
  left: 8908px;
}

.mobile .text-wrapper-15 {
  position: absolute;
  width: 90px;
  top: 33px;
  left: 48px;
  text-shadow: 0px 0px 2.07px #00000080;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .text-wrapper-16 {
  position: absolute;
  width: 65px;
  top: 50px;
  left: 61px;
  text-shadow: 0px 0px 1.04px #00000080;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 6.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mobile .group-10 {
  position: absolute;
  width: 28px;
  height: 3px;
  top: 92px;
  left: 79px;
  box-shadow: 0px 0px 1.04px #00000087;
}

.mobile .ellipse {
  left: 19px;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.mobile .ellipse-2 {
  left: 6px;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.mobile .ellipse-3 {
  left: 0;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.mobile .ellipse-4 {
  left: 12px;
  background-color: #000000;
  border: 0.52px solid;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.mobile .ellipse-5 {
  left: 25px;
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 3px;
  top: 0;
  border-radius: 1.55px/1.6px;
}

.mobile .carousel-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 8.89px;
}

.mobile .frame-3 {
  display: inline-flex;
  width: 100%;
}

.mobile .div-wrapper-2 {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

.mobile .overlap-group-5 {
  width: 100%;
  height: 201px;
  background-image: url(../img/1-1-11.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;  
}

.mobile .group-12 {
  position: relative;
  width: 207px;
  height: 51px;
  top: 70px;
}

.mobile .overlap-7 {
  position: relative;
  width: 392px;
  height: 208px;
}

.mobile .group-13 {
  position: absolute;
  width: 392px;
  height: 208px;
  top: 0;
  left: 0;
}

.mobile .overlap-group-6 {
  position: absolute;
  top: 83px;
  left: 26%;
}

.mobile .CWK-XX-XX {
  position: absolute;
  width: 166;
  top: 0;
  left: 69px;
}

.mobile .buy-our-houses-now {
  position: absolute;
  width: 134px;
  height: 13px;
  top: 105px;
  left: 129px;
}

.mobile .rectangle-8 {
  position: absolute;
  width: 391px;
  height: 207px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.2;
}

.mobile .overlap-group-7 {
  position: relative;
  height: 208px;
  top: 1683px;
  left: 8101px;
  background-image: url(../img/buy-our-houses-now-8.png);
  background-size: 100% 100%;
}

.mobile .indicator-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.19px;
  padding: 4.04px 5.19px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mobile .dot {
  position: relative;
  width: 16.07px;
  height: 7.78px;
  background-color: #5e5e5e;
  border-radius: 7.26px;
}

.mobile .dot-2 {
  position: relative;
  width: 7.78px;
  height: 7.78px;
  background-color: #cecece;
  border-radius: 7.26px;
}

.mobile .vector-2 {
  position: absolute;
  width: 12px;
  height: 9px;
  top: 22px;
  left: 18px;
}

// Menu List
.menu-kor {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

.menu-kor .overlap-group-wrapper {
  background-color: #ffffff;
  width: 100%;
  height: 1300px;
}

.menu-kor .overlap-group {
  position: relative;
  width: 100%;
  height: 1300px;
  background-color: #282828;
}

.menu-kor .group {
  position: absolute;
  width: 70px;
  height: 26px;
  top: 327px;
  left: 41px;
}

.menu-kor .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .div {
  width: 100%;
  height: 48px;
  background-color: #282828;
}

.menu-kor .group-wrapper {
  width: 25px;
  height: 17px;
  display: inline-flex;
}

.menu-kor .title {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22.4px;
  letter-spacing: 0;
  line-height: normal;
  width: 90%;
  display: inline-block;
  padding: 9px 0 0 20px;
}

.menu-kor .group-2 {
  position: relative;
  height: 17px;
}

.menu-kor .rectangle {
  top: 0;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.menu-kor .rectangle-2 {
  top: 7px;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.menu-kor .rectangle-3 {
  top: 14px;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8.61px;
}

.menu-kor .text-wrapper-2 {
  top: 82px;
  left: 41px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  font-size: 22.1px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .text-wrapper-3 {
  top: 142px;
  left: 41px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  font-size: 22px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .div-wrapper {
  position: absolute;
  width: 79px;
  height: 26px;
  top: 263px;
  left: 41px;
}

.menu-kor .text-wrapper-4 {
  top: 182px;
  left: 58px;
  font-family: "Pretendard-Thin", Helvetica;
  font-weight: 100;
  font-size: 15px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-kor .text-wrapper-5 {
  top: 211px;
  left: 58px;
  font-family: "Pretendard-Thin", Helvetica;
  font-weight: 100;
  font-size: 15px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* PC CSS */
.mainpage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainpage .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 3602px;
  position: relative;
  /* display: flex; */
}

.mainpage .new-carousel-PC {
  width: 100%;
  height: 594px;
  top: 1080px;
  left: 360px;
  display: inline-block;
  padding: 30px 0 0 0;
}

.mainpage .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  position: relative;
  align-self: stretch;
  width: 100%;
  padding: 0 0 20px 0;
}

.mainpage .div-2 {
  position: relative;
  width: 45.64px;
  height: 45.64px;
  opacity: 0.5;
  &.active{
    opacity: 1;
  }
}

.mainpage .carousel {
  width: 100%;
  height: 111px;
  justify-content: center;
  display: inline-flex;
  gap: 24px;
  margin: 23px 0 42px 0;
}

.mainpage .element {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
}

.mainpage .ellipse {
  height: 111px;
  background-color: #ffffff80;
  border-radius: 55.62px;
}

.mainpage .frame {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.mainpage .source {
  display: none;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 50%;
  &.best {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 227px;
  }
  &.active {
    display: flex;
  }
}

.mainpage .element-wrapper {
  width: 100%;
  border-radius: 0 81.859px 0 73.463px;
  background: #FFF;
  box-shadow: 0 0 15.74205px 3.14841px rgba(0, 0, 0, 0.25);
}

.mainpage .img {
  width: 100%;
  height: 434px;
  object-fit: cover;
}

.mainpage .image-box {
  width: 70%;
  display: inline-flex;
  border-radius: 0 0 0 73.463px;
  overflow: hidden;
}

.mainpage .group-4 {
  width: 30%;
  height: 434px;
  display: inline-block;
  vertical-align: top;
}

.mainpage .text-wrapper {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 34.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 30px 0 0 0;
}

.mainpage .p {
  width: 70%;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 14.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  display: inline-flex;
  padding: 5px 0 10px 50px;
}

.mainpage .text-wrapper-2 {
  width: 261px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  padding: 10px 0 5px 0;
}

.mainpage .line {
  width: 102px;
  height: 1px;
  margin: 0 0 0 74px;
}

.mainpage .text-wrapper-6 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 26px 0 0 0;
}

.mainpage .text-wrapper-7 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 10.5px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  padding: 8px 0 0 96px;
}

.mainpage .overlap {
  width: 100%;
  height: 915px;
  top: 0;
  left: -18px;
  display: flex;
}

.mainpage .component {
  width: 100%;
  height: 100%;
  top: 0;
  left: 18px;
  background-image: url(../img/1-12-5.png);
  background-size: 100% 100%;
}

.mainpage .group-5 {
  position: absolute;
  width: 523px;
  height: 128px;
  top: 358px;
  left: 700px;
}

.mainpage .text-wrapper-8 {
  top: 0;
  left: 0;
  text-shadow: 0px 0px 8px #00000080;
  color: #ffffff;
  font-size: 75px;
  position: absolute;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-9 {
  position: absolute;
  top: 90px;
  left: 127px;
  text-shadow: 0px 0px 8px #00000080;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-6 {
  position: absolute;
  width: 339px;
  height: 73px;
  top: 509px;
  left: 791px;
}

.mainpage .overlap-group-2 {
  position: relative;
  width: 337px;
  height: 73px;
  border-radius: 11px;
}

.mainpage .rectangle {
  width: 337px;
  height: 73px;
  left: 0;
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: inset 0px 0px 15px 3px #00000080;
  position: absolute;
  top: 0;
}

.mainpage .text-wrapper-10 {
  position: absolute;
  top: 17px;
  left: 113px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #686868;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-7 {
  position: absolute;
  width: 144px;
  height: 16px;
  top: 846px;
  left: 888px;
  // box-shadow: 0px 0px 6px #00000087;
}

.mainpage .ellipse-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 32px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .ellipse-3 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 64px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .ellipse-4 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 96px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .ellipse-5 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 8px;
  border: 1px solid;
}

.mainpage .ellipse-6 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 128px;
  background-color: #ffffff;
  border-radius: 8px;
}

.mainpage .vector-wrapper {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 418px;
  left: 1785px;
  background-color: #000000;
  border-radius: 39px;
  opacity: 0.6;
}

.mainpage .vector {
  position: absolute;
  width: 14px;
  height: 26px;
  top: 26px;
  left: 34px;
}

.mainpage .vector-2 {
  position: absolute;
  width: 14px;
  height: 26px;
  top: 26px;
  left: 34px;
  transform: rotate(-180deg);
}

.mainpage .line-4 {
  width: 1920px;
  object-fit: cover;
  height: 1px;
}

.mainpage .group-8 {
  width: 100%;
  height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainpage .text-wrapper-15 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-16 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .overlap-3 {
  width: 100%;
  height: 759px;
  display: inline-block;
  margin: 50px 0 0 0;
}

.mainpage .best-slider-PC {
  width: 100%;
  height: 497px;
  display: flex;
}

.mainpage .overlap-4 {
  position: relative;
  width: 30%;
  height: 307px;
  top: 81px;
  right: 8px;
  display: inline-flex;
}

.mainpage .element-2 {
  width: 464px;
  height: 304px;
  top: 3px;
  right: 460px;
  position: absolute;
  object-fit: cover;
}

.mainpage .element-3 {
  width: 464px;
  height: 304px;
  top: 3px;
  left: 130px;
  position: absolute;
  object-fit: cover;
}

.mainpage .overlap-5 {
  position: relative;
  width: 30%;
  height: 306px;
  top: 81px;
  left: 63px;
  display: inline-flex;
}

.mainpage .element-4 {
  width: 464px;
  height: 304px;
  object-fit: cover;
}

.mainpage .element-5 {
  width: 464px;
  height: 304px;
  object-fit: cover;
}

.mainpage .overlap-6 {
  position: relative;
  width: 35%;
  height: 497px;
  top: 0;
  left: 33px;
  display: inline-flex;
}

.mainpage .group-9 {
  width: 100%;
  height: 497px;
}

.mainpage .overlap-group-3 {
  width: 100%;
  height: 487px;
}

.mainpage .text-wrapper-17 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.mainpage .text-wrapper-18 {
  color: #000000;
  font-size: 38px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .element-6 {
  width: 669px;
  height: 432px;
  object-fit: cover;
}

.mainpage .text-wrapper-19 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #6a6a6a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.mainpage .group-10 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 196px;
  right: -4px;
  background-color: #ffffffb0;
  border-radius: 29.5px;
  border: 1px solid;
  border-color: #959595b0;
  cursor: pointer;
}

.mainpage .vector-3 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 16px;
  left: 24px;
}

.mainpage .group-11 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 196px;
  right: 610px;
  background-color: #ffffffb0;
  border-radius: 29.5px;
  border: 1px solid;
  border-color: #959595b0;
  transform: rotate(180deg);
  cursor: pointer;
}

.mainpage .vector-4 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 17px;
  left: 24px;
  transform: rotate(-180deg);
}

.mainpage .text-wrapper-20 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 65px 0 0 0;
}

.mainpage .text-wrapper-21 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-13 {
  position: absolute;
  width: 2120px;
  height: 394px;
  top: 2817px;
  left: -198px;
}

.mainpage .overlap-8 {
  position: relative;
  width: 1920px;
  height: 394px;
  left: 198px;
}

.mainpage .image {
  position: absolute;
  width: 1215px;
  height: 394px;
  top: 0;
  left: 0;
}

.mainpage .rectangle-3 {
  width: 1920px;
  height: 394px;
  left: 0;
  background: linear-gradient(270deg, rgb(255, 255, 255) 37.54%, rgba(255, 255, 255, 0) 62%);
  position: absolute;
  top: 0;
}

.mainpage .group-14 {
  position: absolute;
  width: 226px;
  height: 61px;
  top: 220px;
  left: 1111px;
  background-color: #000000;
  border-radius: 36px;
}

.mainpage .text-wrapper-25 {
  position: absolute;
  top: 233px;
  left: 1165px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-15 {
  position: absolute;
  width: 700px;
  height: 127px;
  top: 72px;
  left: 1111px;
}

.mainpage .text-wrapper-26 {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #262626;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Pretendard-ExtraLight", Helvetica;
  font-weight: 200;
  color: #262626;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .group-16 {
  position: fixed;
  width: 64px;
  height: 64px;
  top: 1126px;
  left: 1783px;
  background-color: #000000;
  border-radius: 32px;
}

.mainpage .vector-6 {
  position: absolute;
  width: 17px;
  height: 10px;
  top: 29px;
  left: 24px;
}

.mainpage .vector-7 {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 26px;
  left: 22px;
}

// 견적문의
.inquiry {
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  span {
    letter-spacing: 0;
    white-space: nowrap;
    color: #2E2E2E;
    font-family: Pretendard;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }    
  .bg {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 735px;
    display: inline-block;
    position: relative;
    .overlap {
      position: absolute;
      width: 100%;
      height: 858px;
      top: -123px;
      left: -18px;
    }
    .purchase {
      height: 735px;
      top: 123px;
      position: absolute;
      width: 100%;
      left: 18px;
    }
    .purchase-2 {
      height: 858px;
      top: 0;
      background-color: #00000080;
      position: absolute;
      width: 100%;
      left: 18px;
    }
    .group {
      position: absolute;
      width: 356px;
      height: 111px;
      top: 53%;
      left: 41%;
    }
    .text-wrapper {
      text-shadow: 0px 0px 6px #00000099;
      font-family: "Pretendard-SemiBold", Helvetica;
      font-weight: 600;
      color: #ffffff;
      font-size: 60px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    .text-wrapper-2 {
      text-shadow: 0px 0px 6px #00000099;
      font-family: "Pretendard-Light", Helvetica;
      font-weight: 300;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
  }
  .contents {
    display: inline-flex;
    width: 85%;
    justify-content: end;
    .register {
      width: 75%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      .subject {
        width: 100%;
        padding: 50px 0;
        .title {
          font-family: "Pretendard-SemiBold", Helvetica;
          font-weight: 600;
          color: #434343;
          font-size: 46px;
          letter-spacing: 0;
          line-height: normal;
          white-space: nowrap;
        }
        .img {
          width: 378px;
          height: 3px;
          display: block;
          position: relative;
          top: 17px;
          right: 45px;
        }
      }
      .row {
        display: inline-flex;
        width: 100%;
        padding: 20px 0 20px 0;
        .th {
          width: 50%;
          display: inline-flex;
          &.full {
            width: 100%;
            &.block {
              display: inline-block;
              textarea {
                margin: 15px 0;
              }
            }
          }
          .name {
            padding: 0 50px 0 0;
            width: 168px;
          }
          .icon {
            width: 11px;
            margin: 0 0 8px 10px;
          }
          input[type=text] {
            font-family: "Pretendard-Light", Helvetica;
            font-weight: 300;
            color: #999999;
            font-size: 19.5px;
            letter-spacing: 0;
            line-height: normal;
            white-space: nowrap;
            border: 0px;
            border-bottom: 1px solid #c5c5c5;
            width: 100%;
            padding: 0 0 10px 0;
            margin: 0 0 0 29px;
          }
          select {
            width: 43%;
            height: 49px;
            font-family: "Pretendard-Light", Helvetica;
            font-weight: 300;
            color: #2d2d2d;
            font-size: 19.5px;
            letter-spacing: 0;
            line-height: normal;
            white-space: nowrap;
            position: relative;
            top: -5px;
          }
          div {
            width: 12%;
          }
          label {
            padding: 6px 0;
          }
          label:not(:first-of-type) {
            margin: 0 0 0 12%;
          }
        }
        .th:not(:first-of-type) {
          padding-left: 2%;
        }
        &.line {
          display: inline-flex;
          .th {
            width: 144px;
            
          }
          .td {
            margin: 0;
            .radio {
              margin: 0 0 5px 0;
            }
          }
          label {
            margin: 0 104px 0 0;
          }
        }          
      }

      .btn-area {
        display: inline-flex;
        justify-content: center;
        padding: 105px 0 125px 0;          
        .submit {
          width: 286px;
          height: 81px;
          background-color: #000000;
          border-radius: 40.5px;
          cursor: pointer;
          span {
            font-family: "Pretendard-Light", Helvetica;
            font-weight: 300;
            color: #ffffff;
            font-size: 30px;
            letter-spacing: 0;
            line-height: normal;
            white-space: nowrap;             
          }
        }
      }       
      .overlap-wrapper {
        width: 286px;
        height: 46px;
      }
      
      .overlap-5 {
        position: relative;
        width: 284px;
        height: 46px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid;
        border-color: #b5b5b5;
      }
      
      .text-wrapper-25 {
        font-family: "Pretendard-Light", Helvetica;
        font-weight: 300;
        color: #2d2d2d;
        font-size: 19.5px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
    }
  }
}