// 페이드 효과를 위한 CSS 클래스
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.vector-2 {
  position: absolute;
  width: 12px;
  height: 9px;
  top: 22px;
  left: 18px;
}

/* PC CSS */
.mainpage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.mainpage .container {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.mainpage .new-carousel {
  margin: 42px 0;
}

.mainpage .header-area {
  width: 100%;
  height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;  
}

.mainpage .text-wrapper1 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 46px;
}

.mainpage .text-wrapper2 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 18px;
}

.mainpage .carousel {
  width: 100%;
  height: 150px;
  display: inline-flex;
  margin: 25px 0 23px 0;
}

.mainpage .indicator {
  display: flex;
  width: 100%;
  gap: 16px;
  justify-content: center;
  position: relative;
  align-self: stretch;
}

.mainpage .div-2 {
  opacity: 0.5;
  &.active{
    opacity: 1;
  }
}

.mainpage .element {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 408.244px;
  box-shadow: 0px 4.19788px 4.19788px 0px rgba(0, 0, 0, 0.25);    
}

.mainpage .ellipse {
  height: 111px;
  background-color: #ffffff80;
  border-radius: 55.62px;
}

.mainpage .frame {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.mainpage .source {
  display: none;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 50%;
  &.best {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 227px;
  }
  &.active {
    display: flex;
  }
}

.mainpage .element-wrapper {
  width: 100%;
  border-radius: 0 81.859px 0 73.463px;
  background: #FFF;
  box-shadow: 0 0 15.74205px 3.14841px rgba(0, 0, 0, 0.25);
}

.mainpage .img {
  width: 100%;
  height: 434px;
  object-fit: cover;
}

.mainpage .image-box {
  width: 70%;
  display: inline-flex;
  border-radius: 0 0 0 73.463px;
  overflow: hidden;
  cursor: pointer;
}

.mainpage .group-4 {
  width: 30%;
  height: 434px;
  display: inline-block;
  vertical-align: top;
}

.mainpage .text-wrapper {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 34.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 30px 0 0 0;
}

.mainpage .p {
  width: 70%;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 14.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  display: inline-flex;
  padding: 5px 0 10px 50px;
}

.mainpage .text-wrapper-2 {
  width: 261px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  padding: 10px 0 5px 0;
}

.mainpage .line {
  width: 102px;
  height: 1px;
  margin: 0 0 0 74px;
}

.mainpage .text-wrapper-6 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 26px 0 0 0;
}

.mainpage .text-wrapper-7 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 10.5px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  padding: 8px 0 0 96px;
}

.mainpage .best-model {
  width: 100%;
  height: 759px;
  display: inline-block;
  margin: 50px 0 0 0;
}

.mainpage .best-slider {
  width: 100%;
  height: 497px;
  display: flex;
  margin: 20px 0 0 0;
}

.mainpage .overlap-4 {
  position: relative;
  width: 30%;
  height: 307px;
  top: 81px;
  right: 397px;
  display: inline-flex;
  gap: 3%;
}

.mainpage .element-2 {
  width: 464px;
  height: 304px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.mainpage .element-3 {
  width: 464px;
  height: 304px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.mainpage .overlap-5 {
  position: relative;
  width: 30%;
  height: 306px;
  top: 81px;
  left: 88px;
  display: inline-flex;
  gap: 3%;
}

.mainpage .element-4 {
  width: 464px;
  height: 304px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.mainpage .element-5 {
  width: 464px;
  height: 304px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.mainpage .overlap-6 {
  position: relative;
  width: 35%;
  height: 497px;
  top: 0;
  left: 33px;
  display: inline-flex;
}

.mainpage .group-9 {
  width: 100%;
  height: 497px;
  position: absolute;
  display: none;
  &.action {
    display: inline-flex;
  }
}

.mainpage .overlap-group-3 {
  width: 100%;
  height: 487px;
}

.mainpage .text-wrapper-17 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.mainpage .text-wrapper-18 {
  color: #000000;
  font-size: 38px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .element-6 {
  width: 669px;
  height: 432px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.mainpage .text-wrapper-19 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #6a6a6a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.mainpage .group-10 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 196px;
  right: -35px;
  background-color: rgba(255, 255, 255, 0.6901960784);
  border-radius: 29.5px;
  border: 1px solid;
  border-color: rgba(149, 149, 149, 0.6901960784);
  cursor: pointer;
}

.mainpage .vector-3 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 16px;
  left: 24px;
}

.mainpage .group-11 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 196px;
  right: 640px;
  background-color: rgba(255, 255, 255, 0.6901960784);
  border-radius: 29.5px;
  border: 1px solid;
  border-color: rgba(149, 149, 149, 0.6901960784);
  transform: rotate(180deg);
  cursor: pointer;
}

.mainpage .vector-4 {
  position: absolute;
  width: 13px;
  height: 24px;
  top: 17px;
  left: 24px;
  transform: rotate(-180deg);
}

.mainpage .text-wrapper-20 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 65px 0 0 0;
}

.mainpage .text-wrapper-21 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.custom-home-recommendation {
  width: 100%;
  height: 394px;
  .more-area {
    position: relative;
    width: 100%;
    height: 394px;
    .rectangle {
      width: 100%;
      height: 394px;
      left: 0;
      background: linear-gradient(270deg, #FFF 40.38%, rgba(255, 255, 255, 0.00) 47.03%);
      position: absolute;
      top: 0;
    }
    .text-how-area {
      position: absolute;
      width: 700px;
      height: 127px;
      top: 72px;
      left: 1111px;
      p.text {
        color: #262626;
        font-family: Pretendard;
        font-size: 44px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
      }      
      span.text {
        color: #262626;
        font-family: Pretendard;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }  
    }
    .text-more-area {
      position: absolute;
      width: 226px;
      height: 61px;
      top: 220px;
      left: 1111px;
      background-color: #000000;
      border-radius: 36px;
      .text {
        color: #FFF;
        text-align: center;
        font-family: Pretendard;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 10px 0;
      }      
    }
  }
}

// 모델
#model_page {
  width: 100%;
  background: #FFF;
  margin-bottom: 50px;
  .checkbox {
    border-radius: 0;
  }
  input[type=checkbox]:checked + .checkbox::before {
    top: 0px;
    width: 0px;
  }
  input[type=checkbox]:disabled + .checkbox::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #BFBFBF;
    background: #BFBFBF;
  }
  .container {
    width: 100%;
    display: inline-block;
    position: relative;
    img {
      width: 100%;
      height: 995px;
    }
    span {
      color: #747474;
      font-family: Pretendard;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin: 0 0 5px 0;
    }
    input[type=text],
    input[type=number] {
      color: #747474;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-indent: 5px;
    }
    .content-title {
      display: flex;
      flex-direction: column;
      color: #fff;
      position: absolute;
      top: 287px;
      left: 39%;
      label {
        color: #FFF;
        text-align: center;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.60);
        font-family: Pretendard;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .name {
        font-size: 60px;
        font-weight: 600;
      }
    }
    .content {
      border-radius: 17px;
      box-shadow: 0px 4px 32px 7px rgba(0, 0, 0, 0.25);
      background: white;
      display: flex;
      min-width: 575px;
      width: 70%;
      position: absolute;
      top: 956px;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1152px;
      max-height: 480px;    
      .content-item {
        width: 100%;
        display: block;        
        .search {
          width: 100%;
          display: inline-flex;
          justify-content: center;        
          .item-area {
            display: inline-flex;
            height: 57px;
            flex-shrink: 0;
            fill: #F2F2F2;
            stroke: #C3C3C3;
            width: 365px;
            stroke-width: 1px;
            border-radius: 31px;
            padding: 16px;
            border: 1px solid #c2c2c2;
            background-color: #f8f8f8;
            margin: 10px 0;
            position: relative;
            input {
              width: 288px;
              height: 42px;
              position: relative;
              top: -9px;
              border: 0px;
              background: initial;           
            }
            img {
              width: 47px;
              height: 46px;
              margin: 5px 8px 0 0;
              position: absolute;
              right: -2px;
              top: 0px;
              cursor: pointer;          
            }
          }
        }
        .table {
          display: inline-block;
          width: 100%;
          padding: 11px 0 0 21px;
          .row {
            display: block;
            width: 95%;
            border-bottom: 2px solid #E5E5E5;
            padding: 16px 0 16px 0;
            &.last {
              border-bottom: 0;
            }
            .title {
              color: #5D5D5D;
              font-family: Pretendard;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              padding-bottom: 10px;
              display: block;
              margin-bottom: 6px;
            }
            .item-area {
              width: 100%;
              gap: 9%;
              &.price {
                gap: 2%;
                button {
                  margin: 0 0 0 10px;
                }
              }
              &.extent {
                label:first-child {
                  margin: 2px 143px 2px 0;
                }
                label {
                  margin: 2px 195px 2px 0;
                }
              }
              input[type=text],
              input[type=number] {
                border-radius: 4px;
                border: 1.5px solid #BFBFBF;
                height: 30px;
              }
              .txt {
                font-size: 18px;
                font-weight: 500;
                margin: 0 9px 0 9px;
              }
              button {
                color: #FFF;
                font-family: Pretendard;
                font-size: 16.5px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;                
                border-radius: 4px;
                background: #262626;
                width: 68px;
                height: 30px;
                flex-shrink: 0;                                
              }
              label {
                letter-spacing: 0;
                white-space: nowrap;
                color: #838383;
                font-family: Pretendard;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin: 0 116px 0 0;
              }
            }
          }
        }
      }
    }
    .model-list {
      width: 100%;
      display: inline-block;
      margin: 269px 0 94px 0;
      .model-content {
        width: 100%;
        display: inline-flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 31px 0;
        .model-box {
          width: 1152px;
          display: inline-flex;
          text-align: center;
          flex-wrap: wrap;
          justify-content: center;
          .search {
            width: 95%;
            text-align: right;
            display: inline-flex;
            gap: 32px;
            justify-content: right;
            margin: 0 0 26px 0;
            position: relative;    
            span {
              color: #696969;
              font-size: 18px;
              font-weight: 500;
              cursor: pointer;
              &.on::after {
                content: "";
                border-bottom: 5px solid #9D9D9D;
                width: 88px;
                display: block;
                position: absolute;
                top: 32px;
                margin-left: -16px;
                cursor: default;
              }
              &.low-price::after {
                width: 98px;
                margin-left: -7px;
              }            
            }
          }
          .model {
            display: contents;
            width: 100%;
            .model-item {
              border-radius: 9px;
              background: #FFF;
              box-shadow: 0px 7px 29px -3px rgba(0, 0, 0, 0.26);            
              width: 46%;
              height: 454px;
              float: left;
              margin: 23px;
              cursor: pointer;
              &.hidden {
                visibility: hidden;
                height: 0;
                margin: 0;
                width: 50%;
              }
              .img {
                width: 100%;
                height: 276px;
                flex-shrink: 0;
                border-radius: 9px 9px 0px 0px;
                background: url('../img/jeju.png'), lightgray -10.418px -36.469px / 102.418% 115.792% no-repeat;                            
              }
              .description {
                color: #000;
                font-family: Pretendard;
                font-size: 38px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                display: flex;
                flex-direction: column;
                text-align: left;
                text-indent: 20px;
                .name {
                  color: #000;
                  font-size: 38px;
                  font-weight: 600;
                }
                .text {
                  color: #7D7D7D;
                }
                .option {
                  display: inline-flex;
                  span {
                    font-weight: 500;
                  }
                }
                .more-area {
                  display: inline-flex;
                  margin: 10px 0;
                  .price {
                    color: #686868;
                    font-size: 25px;
                    font-weight: 500;
                    width: 62%;
                  }
                  .btn-area {
                    vertical-align: middle;
                    display: inline-flex;
                    justify-content: end;
                    align-items: center;
                    width: 31%;
                    .view {
                      color: #686868;
                      font-size: 15px;
                      font-weight: 500;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }  
    }
    .pagination {
      display: inline-flex;
      gap: 5px;
      width: 100%;
      justify-content: center;
      .page-group {
        display: flex;
        gap: 14px;
        align-items: center;
        margin: 0 20px 0 20px;
        .no {
          color: #9B9B9B;
          font-family: Pretendard;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          cursor: pointer;
          text-align: center;
          width: 39px;
          &.on {
            color: #4E4E4E;
          }
        }
      }
      .btn:disabled {
        background-color: #f3f3f3;
        cursor: default;
      }
      .btn {
        border: 0;
        background-color: white;
        cursor: pointer;
        &.first {
          width: 39px;
          height: 39px;
          background-image: url(../img/common/first.svg);
          background-size: 100% 100%;
        }
        &.prev {
          width: 39px;
          height: 39px;
          background-image: url(../img/common/prev.svg);
          background-size: 100% 100%;
        }
        &.next {
          width: 39px;
          height: 39px;
          background-image: url(../img/common/next.svg);
          background-size: 100% 100%;
        }
        &.last {
          width: 39px;
          height: 39px;
          background-image: url(../img/common/last.svg);
          background-size: 100% 100%;
        }
      }
    }
    &.full {
      .content {
        width: 70%;
        position: absolute;
        top: 956px;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1152px;
        max-height: 480px;
      }
      .model-list
      .model-content
      .model-box {
        width: 70%;
        .search {
          max-width: 1152px;
        }
        .model {
          max-width: 1152px;
          display: inline-block;
          .model-item {
            height: auto;
            max-width: 1154px;
            display: inline-flex;
            margin: 0 0 23px 0;
            width: 100%;
            &.hidden {
              visibility: hidden;
              height: 0;
              margin: 0;
              width: 50%;              
            }
            .img {
              max-width: 833px;
              min-height: 484px;
              width: 73%;
              border-radius: 0;
              background-repeat: no-repeat;
              background-color: lightgray;              
            }
            .description {
              width: 100%;
              display: inline-flex;
              text-align: center;
              align-items: center;              
              .name {
                margin-top: 26px;
              }
              .text {
                width: 71%;
                margin: 0 0 30px;
              }
              .option {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 100%;
                height: 36%;
                position: relative;
                span {
                  justify-content: center;
                }
                span:not(:last-of-type)::before {
                  content: "";
                  display: block;
                  border-bottom: 0.5px solid #D9D9D9;
                  width: 111px;
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  margin: 30px 0 0 0;
                }
              }
              .more-area {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                align-items: center;
                margin-top: 18%;
                .price {
                  font-size: 29px;
                  width: 100%;                               
                }
                .btn-area {
                  width: 100%;
                  .view {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }    
  }
}

// 견적문의
.inquiry-page {
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  span {
    letter-spacing: 0;
    white-space: nowrap;
    color: #2E2E2E;
    font-family: Pretendard;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }    
  .bg {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 735px;
    display: inline-block;
    position: relative;
    .overlap {
      position: absolute;
      width: 100%;
      height: 858px;
      top: -123px;
      left: -18px;
    }
    .purchase {
      height: 735px;
      top: 123px;
      position: absolute;
      width: 100%;
      left: 18px;
    }
    .purchase-2 {
      height: 858px;
      top: 0;
      background-color: #00000080;
      position: absolute;
      width: 100%;
      left: 18px;
    }
    .group {
      position: absolute;
      width: 356px;
      height: 111px;
      top: 53%;
      left: 41%;
    }
    .text-wrapper {
      text-shadow: 0px 0px 6px #00000099;
      font-family: "Pretendard-SemiBold", Helvetica;
      font-weight: 600;
      color: #ffffff;
      font-size: 60px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    .text-wrapper-2 {
      text-shadow: 0px 0px 6px #00000099;
      font-family: "Pretendard-Light", Helvetica;
      font-weight: 300;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
  }
  .contents {
    display: inline-flex;
    width: 85%;
    justify-content: end;
    .register {
      width: 75%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      .subject {
        width: 100%;
        padding: 50px 0;
        .title {
          font-family: "Pretendard-SemiBold", Helvetica;
          font-weight: 600;
          color: #434343;
          font-size: 46px;
          letter-spacing: 0;
          line-height: normal;
          white-space: nowrap;
        }
        .img {
          width: 378px;
          height: 3px;
          display: block;
          position: relative;
          top: 17px;
          right: 45px;
        }
      }
      .row {
        display: inline-flex;
        width: 100%;
        padding: 20px 0 20px 0;
        input[type=text] {
          font-family: "Pretendard-Light", Helvetica;
          font-weight: 300;
          color: #999999;
          font-size: 19.5px;
          letter-spacing: 0;
          line-height: normal;
          white-space: nowrap;
          border: 0px;
          border-bottom: 1px solid #c5c5c5;
          width: 100%;
          padding: 0 0 10px 0;
        }
        select {
          width: 43%;
          height: 49px;
          font-family: "Pretendard-Light", Helvetica;
          font-weight: 300;
          color: #2d2d2d;
          font-size: 19.5px;
          letter-spacing: 0;
          line-height: normal;
          white-space: nowrap;
        }
        .th {
          width: 12%;
          display: inline-flex;
          min-width: 167px;
          &.full {
            width: 100%;
            display: inline-flex;
            align-items: center;
            &.block {
              display: inline-block;
              textarea {
                margin: 15px 0;
              }
            }
            .name {
              width: 147px;
            }
          }
          .name {
            padding: 0 50px 0 0;
            width: 168px;
          }
          .icon {
            width: 11px;
            margin: 0 0 8px 10px;
          }
          div {
            width: 12%;
          }
          label {
            padding: 6px 0;
          }
          label:not(:first-of-type) {
            margin: 0 0 0 12%;
          }
        }
        .th:not(:first-of-type) {
          padding-left: 2%;
        }
        .td {
          width: 88%;
        }
        &.line {
          display: inline-flex;
          .th {
            width: 144px;
            
          }
          .td {
            margin: 0;
            .radio {
              margin: 0 0 5px 0;
            }
          }
          label {
            margin: 0 145px 0 0;
          }
        }
        .column {
          width: 50%;
          display: inline-flex;          
          .th {
            width: 23%;
          }
        }  
        .privacy {
          width: 100%;
          display: inline-flex;
        }      
        .view {
          margin-left: 360px;
          cursor: pointer;         
          img {
            margin: 0 0 0 10px;
            position: relative;
            top: 2px;            
          } 
        }
      }

      .btn-area {
        display: inline-flex;
        justify-content: center;
        padding: 105px 0 125px 0;          
        .submit {
          width: 286px;
          height: 81px;
          background-color: #000000;
          border-radius: 40.5px;
          cursor: pointer;
          span {
            font-family: "Pretendard-Light", Helvetica;
            font-weight: 300;
            color: #ffffff;
            font-size: 30px;
            letter-spacing: 0;
            line-height: normal;
            white-space: nowrap;             
          }
        }
      }       
      .overlap-wrapper {
        width: 286px;
        height: 46px;
      }
      
      .overlap-5 {
        position: relative;
        width: 284px;
        height: 46px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid;
        border-color: #b5b5b5;
      }
      
      .text-wrapper-25 {
        font-family: "Pretendard-Light", Helvetica;
        font-weight: 300;
        color: #2d2d2d;
        font-size: 19.5px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
    }
  }
}
